.card {
    width: 330px;
    position: relative;

    /* Tablet big*/
    @media (max-width: 1139px)  {
        width: 250px;
    }
}

.card__img {
    box-shadow: 0 14px 28px #E5E5E5;
}

.card__desc {
    position: absolute;
    width: 300px;
    bottom: -50px;
    left: 30px;
    padding: 20px 15px;
    background: #FFFFFF;
    box-shadow: 0 14px 28px #E5E5E5;

    /* Tablet big*/
    @media (max-width: 1139px)  {
        width: 250px;
        left: 20px;
        bottom: -30px;
    }
}

.card__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.3;
    margin-bottom: 5px;

    /* Tablet */
    @media (max-width: 899px) {
        font-size: 16px;
    }
}

.card__desc p {
    margin-bottom: 13px;
    max-width: 220px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6;
    color: rgba(0, 0, 0, 0.8);  
}

.card__link {
    display: block;
    text-align: right;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1;
    letter-spacing: -1%;
    color: $accent-color-hover;

    /* Tablet big*/
    @media (max-width: 1139px) {
        font-size: 14px;
    }

    &::before {
        content: "";
        position: absolute;
        bottom: 25px;
        right: 105px;
        width: 46px;
        height: 1.5px;
        background-color: $accent-color-hover;

        /* Tablet big*/
        @media (max-width: 1139px) {
            width: 30px;
            right: 90px;
        }
    }
}