.section-about-us {
    padding-top: 130px;
    padding-bottom: 130px;

    /* Tablet big*/
    @media (max-width: 1139px) {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    /* Tablet */
    @media (max-width: 899px) {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    /* Mobile */
    @media (max-width: 767px) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.section-about-us__content {
    display: flex;
    column-gap: 80px;
    align-items: center;

    /* Tablet big*/
    @media (max-width: 1139px) {
        column-gap: 50px;
    }

    /* Tablet */
    @media (max-width: 899px) {
        column-gap: 30px;
    }

    /* Mobile */
    @media (max-width: 767px) {
        column-gap: 15px;
    }
}

.section-about-us__img {
    // max-width: 586px;
    display: grid;
    grid-template-columns: 282px 282px;
    column-gap: 21px;
    row-gap: 18px;
    align-items: center;
    grid-template-areas: "img1 img2" "img1 img3";

    /* Tablet big*/
    @media (max-width: 1139px) {
        grid-template-columns: 200px 200px;
    }

    /* Tablet */
    @media (max-width: 899px) {
        grid-template-columns: 180px 180px;
    }

    /* Mobile */
    @media (max-width: 767px) {
        grid-template-columns: 100px;
        grid-template-areas: "img1" "img2" "img3"
    }
}

#img1 {
    grid-area: img1;
}

.section-about-us__desc {
    // width: 490px;
}

.section-about-us__subtitle {
    margin-bottom: 10px;
}

.section-about-us__title {
    margin-bottom: 25px;

    /* Tablet */
    @media (max-width: 899px) {
        margin-bottom: 10px;
    }
}

.section-about-us__text {
    margin-bottom: 45px;
    font-size: 16px;

    /* Tablet */
    @media (max-width: 899px) {
        margin-bottom: 30px;
        font-size: 14px;
    }
}


.section-about-us__text p + p {
    margin-top: 15px;

    /* Tablet */
    @media (max-width: 899px) {
        margin-top: 5px;
    }
}

.section-about-us__image {
    position: absolute;
    bottom: 0;
    right: 200px;

    /* Tablet big*/
    @media (max-width: 1139px) {
        display: none;
    }
}