.section-customer {
    margin-top: 55px;
    padding-bottom: 120px;

    /* Tablet big*/
    @media (max-width: 1139px) {
        margin-top: 40px;
        padding-bottom: 100px;
    }

    /* Tablet */
    @media (max-width: 899px) {
        padding-bottom: 80px;
    }

    /* Mobile */
    @media (max-width: 767px) {
        padding-bottom: 50px;
    }
}

.section-customer__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    /* Mobile */
    @media (max-width: 767px) {
        flex-direction: column-reverse;
        justify-content: center;
    }
}

.section-customer__img {
    position: relative;
    z-index: 9;
    padding-left: 120px;
    // box-shadow: -167px -110px 0px -50px #EC5598;

    /* Tablet big*/
    @media (max-width: 1139px) {
        padding-left: 0;
        padding-right: 20px;
    }

    /* Mobile */
    @media (max-width: 767px) {
        margin-top: 20px;
        padding-right: 0;
    }

    &::before {
        content: "";
        position: absolute;
        display: block;
        z-index: -10;
        top: -55px;
        left: 20px;
        width: 277px;
        height: 340px;
        background-color: #EC5598;

        /* Tablet big*/
        @media (max-width: 1139px) {
            display: none;
        }
    }
}
