.section-service {
    padding-bottom: 130px;
}

.section-service__title {
    text-align: center;
    margin-bottom: 65px;
}

.section-service__row {
    display: flex;
    column-gap: 45px;
    margin-bottom: 115px;
}

.section-service__button {
    text-align: center;
}